/* Navigation Bar */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home */
#home {
    height: 370px;
    padding: 3px 20px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 12px;
}


/* Services */
#services {
    flex-direction: column;
}

#services .box {
    margin: 3px 2px;
    margin-bottom: 3px;
    padding: 15px;
}




/* Clients */

#clients {
    flex-wrap: wrap;

}

#clients img {
    width: 65px;
    padding: 2px 15px;
    /* height: auto; */
}


/* Contact us  */

#contact-box form {
    width: 80%;
}


/* Footer */


/* Utilities */

.h-primary {
    font-size: 20px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}