/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables(optional to use atm) */
:root {
    --navbar-height: 50px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    position: sticky;
    font-family: 'Baloo Bhai 2', cursive;
    align-items: center;
    top: 0;
}

#navbar::before {
    content: "";
    background-color: rgb(85, 78, 78);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 3px 4px;
}

#logo img {
    height: 40px;
    margin: 2px 3px;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 2rem;
}

#navbar ul li a {
    color: aliceblue;
    display: block;
    padding: 3px 40px;
    border-radius: 5px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: aliceblue;
}

/* home */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 486px;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
    /* background: url('../pexels-caleb-oquendo-3023476.jpg'); */
}

#home::before {
    content: "";
    background: url(../pexels-caleb-oquendo-3023476.jpg) no-repeat center center/cover;
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

#home h1 {
    color: rgb(24, 21, 23);
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* Services */
.services-container{
    margin-top: 30px;
}

#services {
    margin: 22px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    margin: 3px 6px;
    margin-bottom: 18px;
    padding: 30px;
    border-radius: 20px;
    background: #f7eded;
}

#services .box img {
    height: 170px;
    display: block;
    margin: auto;
    width: 250px;
}
#services .box p {
    font-family: 'Bree Serif', serif;
   
}
.center{
    text-align: center;
}

/* clients section */
#client-section{
    height: 350px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../pexels-ella-olsson-1640774.jpg') no-repeat center center/cover;
    width: 100%;
    height: 120%;
    z-index: -1;
    opacity: 0.4;
}

.client-item{
    padding: 8px 35px;
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#clients img{
    height: 138px;
    

}

#contact{
    margin-top: 90px;
    position: relative;
    /* border: 2px solid brown; */
}

#contact::before{
   content: "";
   position: absolute;
   background: url(../contact-us-ge58b20516_1920.jpg) no-repeat center center/cover;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.5;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    

}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}

#contact-box form{
    width: 40%;
}

#contact-box label{

    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;

}

footer{
    background-color: black;
    color: antiquewhite;
    padding: 5px 20px;
    height: 100px;
}

/* Utility Classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2.1rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid wheat;
    background-color: rgb(228, 201, 50);
    color: white;
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}